.tarjeta{
    margin: auto;
    max-width: 400px;
    height: 600px;
}
.catalogo-img{
    width: 100%;
    height: 400px;
}
.combos-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dis-flex{
    display: inline-flex;
    margin: 20px 5px;
}
/* .carrito-container{
    max-width: 500px;    
} */
.carrito-flex{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 500px){
    .carrito-flex{
        display: block;
        text-align: center;
    }
    .elemento{
        width: 100%;
    }
}
.linea-division hr{
    border: 1px solid #808080;
}
.dis-flex p, .dis-flex span{
    display: flex;
    margin: auto 4px;
}
#catalogo-combos{
    text-align: center;
}

.contenedor-carrusel{
    margin: 20px auto;
}

.div-promos div{
    height: 500px;
}
.div-promos img{
    width: 100%;
    height: 100%;
}
.footer{
    height: 100px;
    color: white;
    text-align: center;
}
.footer-redes{
    display: flex;
    justify-content: center;
}
.redes-sociales{
    display: flex;
    list-style: none;
}
.item-redes{
    margin: 0 20px;
}
.item-redes a{
    color: white;
    font-size: 2em;
}
.item-redes a:hover{
    color: rgb(192, 60, 60);
}
.facturacion{
    display: flex;
    background-color: whitesmoke;
    padding: 30px 2px;
}
.facturacion img{
    width: 35px;
}
ul{
    list-style: none;
}
a{
    color: black;
}
.regreso{
    color: white;
    text-decoration: none;
}
@media(max-width:700px){
    .facturacion{
        display: inline-block;
        width: 100%;
    }
    .columna__compras{
        margin: 0 20px;
    }
    .inicio__sesion{
        display: none;
    }
}